:root {
  --todo-color-grey: #b9b9b9;
  --todo-color-red: #ee3838;
  --todo-color-hover-red: #f35858;
  --todo-color-green: #00c185;
  --todo-color-hover-green: #57eaba;
  --todo-color-beige: #f5dcb5;
  --todo-color-hover-beige: #d2b389;
  --todo-color-white: #fff;

  --todo-border-radius: 10px;
  --todo-margin-offset: 20px;

  --todo-default-transition: 0.3s ease-in-out;
}